@media (max-width: 640px) {
  main {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .entry-date {
    width: 100%;
  }

  ul {
    padding-left: 20px;
  }

  .contact-info img {
    width: 2.5rem;
    margin-left: 2rem;
    margin-right: 0;
  }

  .contact-info span {
    display: none;
  }
}

@media print {
  html {
    font-size: 10pt;
  }

  header {
    height: 4rem;
  }

  footer {
    display: none;
  }

  .container {
    margin: 0 4rem 0 4rem;
  }

  .contact-info img {
    width: 16px;
    margin-left: 4px;
    margin-right: 4px;
    fill: #fff; 
  }

  .contact-info span {
    display: inline;
  }

  @page {
    size: A4;
    margin: 1.5cm 0 1.5cm 0;
  }

  @page :first {
    margin: 0 0 1.5cm 0;
  }

  * {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
}